body {
    margin: 0;
    font-family: 'Manrope';
    background-color: #FAFBFF;
}

.header {
    background-color: rgba(0, 174, 165, 0.35);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}

.header img {
    margin: auto 0;
}

.headerNavListMid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;

    font-size: 14px;
    line-height: 19px;

}

.headerNavListMid li {
    padding: 10px;
    margin: auto;
}

.headerNavListRight {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;

    font-size: 14px;
    line-height: 19px;

}

.headerNavListRight li {
    padding: 10px;
    margin: auto;
}

.lonleyMenu {
    padding-top: 10px;
}

@media screen and (min-width: 750px){
    .moreMenu {
        display: none;
    }

}

@media screen and (max-width: 750px){
    .headerNavListRight {
        display: none;
    }

    .headerNavListMid {
        display: none;
    }
    
}

button {
    background: #40C8FF;
    border-radius: 6px;
    border: none;
    color:#fff;
    padding: 1em 2em;
}


.featuresTopSection {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: linear-gradient(180deg, rgba(0, 174, 165, 0.35) 0%, rgba(0, 174, 165, 0) 100%);
    padding: 0;
}

.featuresTopSectionLeft{
    grid-column: 2 / 12;
    text-align: center;
    padding-bottom: 20px;
}

.featuresTopSectionLeft h1 {
    font-size: 35px;
}

.featuresTopSecitonRight {
    grid-column: 1 / 12;
}

.featuresTopSecitonRight img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


@media screen and (min-width: 750px){
    .featuresTopSectionLeft{
        grid-column: 2 / 5;
        text-align: left;
        padding-bottom: 0px;
    }

    .featuresTopSecitonRight {
        grid-column: 7 / 13;
    }

    .featuresTopSection {
        padding: 0;
    }
    
    .featuresTopSectionLeft h1 {
        font-size: 50px;
    }
}

@media screen and (min-width: 1000px){
    .featuresTopSectionLeft h1 {
        font-size: 70px;
    }

    .featuresTopSectionLeft{
        grid-column: 2 / 8;
    }

    .featuresTopSecitonRight {
        grid-column: 8 / 13;
    }
}
}




.featuresKeyFeaturesSection{
    /* text-align: center; */
}

.featuresKeyFeaturesSection p {
    /* padding: 0 10%; */
    margin: auto;
    width: 80%;

}

/* h1 { 
     font-size: 70px;
    line-height: 80px;
    letter-spacing: -0.03em;
} */

.featuresKeyFeaturesSection h2 {
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;
    text-align: center;
}

.featureCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featuresCard {

    display: flex;
    flex-direction: column;

    width: 275px;
    height: 250px;

    background: #FFFFFF;
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.04);
    border-radius: 20px;

    margin: 20px;

    

    font-weight: 800;
    font-size: 22px;
    
    


}

.featuresCard img {
    display: block;
    margin: 50px auto 10px auto;

    width: 60px;
}

.featuresCardText {
    margin: 0 50px;
}

.featuresFeaturedProjects {
    background-color: #E6F5F8;
    text-align: center;
}

.featuresFeaturedProjects p {
    margin: auto;
    width: 80%;
}

.festuresFeaturedProjectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featuredCard {

    display: flex;
    flex-direction: column;

    width: 580px;
    height: 514px;
    left: 125px;
    top: 1949px;

    margin: 20px;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.04);
}

.featuredCard img {
    width: 120px;
}

.featuredCardTop {
    margin: 60px;
    display: flex;
    flex-direction: row;
}

.featuredCardSaleInfo {
    
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;

    color: #01A6DB;
}

.featuredCardTopRight {
    text-align: left;
    margin-left: 30px;
}

.featuredCardDescription {
    text-align: left;
    margin: 0 60px 20px 60px;

    
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #64607D;
}

.featuredCardIconTextGroup {
    text-align: left;
    margin-bottom: 10px;

    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    letter-spacing: -0.02em;
    color: #64607D;

}

.featuredCardIconTextGroup img {
    width: 20px;
    margin: 0 10px 0 60px;
}

.featuredCardButtonGroup {
    display: flex;
    justify-content: center;
}


.featuresFeaturedProjects button {
    margin: 30px 10px;
    width: 150px;
}
@media screen and (min-width: 750px) {
    .featuresFeaturedProjects button {
        margin: 30px 10px;
        width: 250px;
    }
}
.specialButton {
    color: #00AEA5;
    background-color: #fff;
    border: 1px solid;

}

.featuredCardPrsaleText {
    margin-left: 30px;
    margin-top: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: right;
    letter-spacing: -0.02em;
}

.feturedCardPresalePrice {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    /* identical to box height */

    text-align: right;
    letter-spacing: -0.02em;

    color: #00AEA5;
}

.featuresBottomSection {
    background-color: #00AEA5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 50px;
    color: #fff
}   

.featuresBottomSectionLeft {
    grid-column: 1 / 12;
}

.featuresBottomSecitonRight {
    grid-column: 1 / 12;
}




@media screen and (min-width: 750px){
    .featuresBottomSectionLeft{
        grid-column: 1 / 7;
    }

    .featuresBottomSecitonRight {
        grid-column: 7 / 13;
        
    }

    .featuresBottomSectionLeft h2 {
        font-size: 50px;
    }

    .featuresBottomSecitonRight p {
        font-size: 30px;
    }
}

.featuresBottomSecitonRight img {
    display: block;
    margin-left: auto;
}

@media screen and (max-width: 1500px) {
    .featuresBottomSecitonRight img {
        width: 500px;
    }
}

@media screen and (max-width: 1000px) {
    .featuresBottomSecitonRight img {
        width: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .featuresBottomSecitonRight img {
        width: 95%;
    }
}

.footer {
    margin-top: 50px;
}

.footerTop {
    display: flex;
    justify-content: space-around;

}

.footerTopLeft {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.footerTopMiddle {
    width: 40%;

}

.footerTopMiddleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.footerTopRight {
    display: flex;
    flex-direction: column;
}

.socialMediaLinks{
    margin: auto;
    width:fit-content;
}

.socialMediaLinks img {
    margin-right: 10px;
}

.footerBottom {
    margin: auto;
    width:fit-content;
}

.emptySpace {
    height: 50px;
}